/* <-- Styles Caixba --> */

body {
    background-color: springgreen;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #750d0d;
    border: 3px solid #10df6d;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto; 
    text-align: center;
    max-width: 90%;
}

.weather-container {
    font-family: 'Times New Roman', serif;
    background-color: #9ccdf8;
    color: #333333;
    padding: 20px;
    margin: 90%;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#latitude-input,
#longitude-input {
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
    border: 2.5px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

#fetch-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#fetch-btn:hover {
    background-color: #10df6d;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    transform: translateY(-2px);
}
#fetch-btn:active {
    transform: translateY(1.5px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* <--- MEDIA QUERY CAIXBA (Ajustes solo para celular) ---> */
@media (max-width: 600px) {
    
    h1 {
        font-size: 24px; /* Letra más pequeña para que quepa */
    }

    .weather-container {
        margin-top: 20px; /* Menos distancia arriba en celular */
        border-radius: 30px; /* Bordes un poco menos redondos para ahorrar espacio */
        padding: 15px;
    }

    #latitude-input,
    #longitude-input {
        width: 100%; /* En celular, que los inputs ocupen todo el ancho */
    }
}
